@import url(./reset.css);
@import url(./style.css);
@import url(../index.css);

/*HEADER*/
.header{
    display: flex; 
    height: 204px;
    background-color: #ffffff;
}

.container-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav {
    max-width: 700px;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.nav-link {
    text-decoration: none;
    margin-left: 45px;
    color: #274C5B;
    padding: 0;
}

.search {
    display: flex;
    justify-content: space-between;
    width: 215px;
}

.cart {
    display: flex;
    align-items: center;
    width: 130px;
    justify-content: space-between;

    color: #274C5B;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
}


/*MAIN*/
 main {
    display: flex;
    align-items: center;
    flex-direction: column
} 


/* FORM */
.form-section {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 117px;
    padding-left: 50px;
    padding-right: 50px;    
}

.banner_background_for_form {
    background-image: url(../img/banner3.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 28px;

    margin: 0 auto; /*делает контент по центру при изменении маштаба*/
    max-width: 1400px;
    height: 323px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.form {
    width: 45%; 
}

form {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 165.4%; /* 29.772px */
    padding: 20px;
}

.btn-primary {
    display: inline-block;
    border-radius: 8px;
    background-color:#274C5B;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 32px; 
    text-decoration: none;

    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
} 

#emailHelp {
    color: #ffffff;
}

.form-control {
    width: 500px;
}

/* FOOTER*/
footer {
        display: flex;
        align-items: center;
        flex-direction: column;
 }

  .container-footer {
    display: flex;
    justify-content: center;
    height: 445px;
    max-width: 1400px;
    margin: 10px 160px;
}  

.contact-us {
    width: 25%;
    text-align: right;
}

.contact-us h2, .utility-pages h2 { 
    margin-bottom: 40px;
}                                   

.email :nth-child(2n+1) {
    font-weight: 800;
    margin: 0;
}

.email p~p {
    margin-bottom: 30px;
}

.info {
    width: 50%;
    height: 300px;
    padding: 0px 40px;
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    
    border-width: 0px 1px;
    border-color: #D4D4D4;
    border-style: solid;
}

.info p {
    margin-top: 30px;
}

.icons-footer > * + * {
    margin-left: 10px;
}

.utility-pages {
    width: 25%;
}

.utility-pages p {
    margin-bottom: 20px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0px 100px;

    border-width: 1px 0px 0px 0;
    border-color: #D4D4D4;
    border-style: solid;
}

.footer-bottom p {
    margin: 0px;
}




