.main-banner {
    position: relative;
}

/* OFFERS */
.container-offers {
    max-width: 1460px;
    margin: 154px 20px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.screen {
    width: 683px;
    height: 367px;
    margin-left: 30px;
    margin-bottom: 30px;
    perspective: 2000px;
}

.cardss {
   width: 100%;
   height: 100%;
   transform-style: preserve-3d;
   transition: transform 2s;
}

.offer1 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.offer2 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front1 {
    background-image: url(./img/card_offer1.png);
}

.front2 {
    background-image: url(./img/card_offer2.png);
}

.back1 {
    background-image: url(./img/card_offer_back1.png);
    transform: rotateY(180deg);
} 

.back2 {
    background-image: url(./img/card_offer_back2.png);
    transform: rotateY(180deg);
} 

 .cardss:hover {
    transform: rotateY(180deg);
}


/* TESTIMONIAL */
.testimonial {
    width: 100%;
    padding: 120px 0px 50px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url(./img/banner_testimonial.png);
    background-size: 100%;
    background-repeat: no-repeat; 
}

.container-testimonial {
    height: 600px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.font-title {
    margin-bottom: 8px;

    color: #7EB693;
    font-family: 'Yellowtail', cursive ;
    font-size: 36px;
    font-weight: 400px;
}

.container-testimonial h1 {
    margin-bottom: 60px;
}

.customer > img {
    width: 115px;
    margin-bottom: 20px;
}

.container-testimonial h2{
    margin: 0;
}

.container-testimonial p~p{
    margin-top: 25px;
    margin-bottom: 20px;
}

.container-testimonial:last-child {
    margin: 0;
    font-size: 15px;
}

.counters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.counters > div{
    margin: 0px 30px 20px 20px;
}

.counters-chart {
    width: 211px;
    height: 211px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
   
    background-image: url(./img/chart.svg);
    background-size: cover;
}

.counters-chart h1, p{
    margin: 0;
}


/* GALLERY */
.gallery {
    width: 100%;
    padding: 187px 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background-color: #F1F8F4;
}

.gallery :nth-child(n+2){
    margin-left: 8px;
}

.gallery-card {
    width: 500px;
    height: 476px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card1 {
    background-image: url(./img/gallery_organic_juice.png);
    background-size: cover;
}

.card2 {
    background-image: url(./img/gallery_organic_food.png);
    background-size: cover;
}

.card3 {
    background-image: url(./img/gallery_nuts_cookis.png);
    background-size: cover;
}

.button {
    padding-left: 83px;
    padding-right: 83px;

    display: inline-block;
    line-height: 80px; /*(высота строки) центрирует текст в кнопке*/
    border-radius: 16px;
    background-color:#ffffff;

    color: #274C5B;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;

    transition: background-color 0.2s;
}

.button:hover {
    background-color: #7EB693;
    color: #ffffff;
}


