/*ABOUT US*/
p {
    margin-bottom: 48px;
}

.container-about-us {
    max-width: 1540px;
    margin: 150px 100px;
    display: flex;  
}

.about-us-banner {
    width: 50%; 
}

.about-us-banner img {
    width: 100%;
}

.about-us-content {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.font-title {
    margin-bottom: 8px;

    font-family: 'Yellowtail', cursive ;
    font-size: 36px;
    font-weight: 400;
    color: #7EB693;
}

.more {
    margin-bottom: 58px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; 

    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 500px;
    color: #274C5B;
}

.modern-agriculture-equipment {
    width: 290px;
    margin-bottom: 15px;

    display: flex;
    justify-content: center;
}

.no-growth-hormones-are-used {
    width: 310px;
    display: flex;
}

.no-growth-hormones-are-used img, .modern-agriculture-equipment img{
    margin-right: 15px;
}

.button {
    display: inline-block;
    line-height: 80px; /*(высота строки) центрирует текст в кнопке*/
    padding-left: 39px;
    padding-right: 39px;
    border-radius: 16px;
    background-color:#274C5B;
    text-decoration: none;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;

    transition: background-color 0.2s;
}

.button:hover {
    background-color: #7EB693;
}

/* WHY CHOOSE US*/
.why-hoose-us {
    padding: 190px 150px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background-color: #F9F8F8;
}

.container-why-choose-us {
    max-width: 1400px;  
    margin-bottom: 90px;

    display: flex;
    align-items: center;
}

.why-hoose-us-banner {
    width: 50%;
}

.why-hoose-us-banner img {
    position: relative;
    top: 50px;
    width: 100%;
    margin-left: 20px;
}

.why-hoose-us-content {
    width: 50%;
}

.why-hoose-us-content p {
    margin-bottom: 6px;
}

.heading-style {
    margin-bottom: 12px;
    margin-top: 24px;

    display: inline-block;
    line-height: 81px;
    padding-left: 27px;
    padding-right: 27px;
    border-radius: 49px;
    text-decoration: none;
    background-color: #ECECEC;
    
    color: #274C5B;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.why-hoose-us-content a~p{
    padding-left: 60px;
}

.advantages {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.advantages-block {
    width: 257px;
    margin-right: 30px; 
    margin-bottom: 30px; 
    padding-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #ffffff;
    border-radius: 30px;
}

.advantages-block p {
    width: 184px;
    text-align: center;
}